@import url("https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Jersey+25&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "jersey 25", serif;
  min-height: 100%;
  min-width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: stretch;
}

#imagedefond {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#container {
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 813px;
  flex-shrink: 0;
  background: #787f76;
  padding: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 90vh;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0;
  margin-top: 68px;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-top: 0;
}
#paragraphe1 {
  color: #000;
  text-align: center;
  font-family: "Jersey 25";
  font-size: 300px;
  font-style: normal;
  font-weight: 900px;
  line-height: normal;
}

#commencerlejeu {
  margin: 20px auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  background-color: #444;
  color: #000000;
  text-decoration: none;
  font-size: 32px;
  cursor: pointer;
  transition: background 0.3s;
  width: 408px;
  height: 104px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #000;
  background: #d9d9d9;
}

#commencerlejeu:hover {
  background-color: rgb(146, 144, 144);
  transition-duration: 0.5s;
  border-radius: 10px;
  color: white;
}

#nom {
  width: 337px;
  height: 42px;
  flex-shrink: 0;
}

#nom:hover {
  border: 3px solid #050a4a;
  border-radius: 5px;
}

#ok {
  width: 55px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #000;
  background: #d9d9d9;
  font-family: "jersey 25", serif;
  cursor: pointer;
}

#ok:hover {
  border: 3px solid #050a4a;
  border-radius: 5px;
}

#commencerlejeuText {
  display: flex;
  align-items: center;
  justify-content: center;
}

#content img {
  max-width: 60%;
  margin-top: 100px;
  border-radius: 5px;
  opacity: 0.85;
}

.teaserlink {
  text-decoration: none;
  color: #000;
  text-align: center;
  margin: 10px;
  margin-bottom: 30px;
}

.teaserlink:hover {
  color: #002fffbd;
}
